<a href="{{params.post.url}}" class="block max-w-lg mx-auto group rounded-lg bg-white shadow-lg shadow-slate-300 overflow-hidden hover:shadow-slate-500/50">
  {% if params.post.data.image %}
    <img src="/images/{{params.post.data.image}}" alt="{{params.post.data.title}}" class="w-full aspect-video overflow-hidden object-cover object-top bg-blue-300">
  {% endif %}

  <h2 class="p-4 font-bold text-lg group-hover:underline">{{params.post.data.title}}</h2>
</a>