<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    
    <link href="/styles.css" rel="stylesheet"/>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <meta property="og:image" content="https://showcase.edgepointlearning.com/ogimage.jpg">
  </head>

  <body class="bg-slate-200">
    {{ content | safe }}
  </body>
</html>