<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    
    <link href="/assets/css/entry.css" rel="stylesheet"/>
    <script src="/assets/js/entry.js" defer></script>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <meta property="og:image" content="https://showcase.edgepointlearning.com/ogimage.jpg">
    <meta name="robots" content="noindex, nofollow" />
  </head>

  <body class="min-h-screen bg-gradient-to-b from-white via-slate-200 to-slate-200">
    {{ content | safe }}
  </body>
</html>