---
title: Home
permalink: /
layout: list.njk
eleventyExcludeFromCollections: true
---
<h1 class="text-2xl font-black mb-4">All demos</h1>

<section class="grid grid-cols-3 gap-4 pb-16">
	{% for post in collections.demo %}

		<a href="{{ post.url }}" class="block p-4 bg-slate-100 border-slate-400 border group">
			<h2 class="group-hover:underline">{{ post.data.title }}</h2>
			{% if post.data.image %}
				{% pic post.data.image, post.data.title, "object-contain" %}
			{% endif %}
		</a>

	{% endfor %}
</section>
