---
layout: "list.njk"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag | slugify }}/
---
{%- from "system/component.njk" import component -%}

<main class="max-w-5xl mx-auto px-4">

  <h1 class="text-2xl font-black mt-8 mb-4">Tagged “{{ tag }}”</h1>

  <section class="cardGrid">
    {% set taglist = collections[ tag ] %}
    {% for post in taglist %}
      {{ component('teaser', { post:post }) }}
    {% endfor %}
  </section>

</main>