---
title: Compare & Combine Documents in Word
image: compare-combine-Word.png
link: https://demo-compare-documents.netlify.app/story.html
tags:
- storyline
- software training
---


<p>
  At EdgePoint Learning, we help you tackle your employee training initiatives, big or small. Learn more about our custom development and co-development options at [edgepointlearning.com/solutions](edgepointlearning.com/solutions).
</p>
