---
title: ILT Sample 
image: ilt-demo.png
link: https://edg.pt/demo-ilt-sample
tags:
- ILT
- pdf
- ppt
---

<p>
  At EdgePoint Learning, we help you tackle your employee training initiatives, big or small. Learn more about our custom development and co-development options at [edgepointlearning.com/solutions](edgepointlearning.com/solutions).
</p>
