---
title: Proper Lifting
image: lifting.png
tags:
- after effects
- illustration
- premium animation
---

{% vimeo '343295990', 'mx-auto max-w-5xl' %}

<p>
  At EdgePoint Learning, we help you tackle your employee training initiatives, big or small. Learn more about our custom development and co-development options at [edgepointlearning.com/solutions](edgepointlearning.com/solutions).
</p>
