---
title: What is Custom eLearning Development?
image: what-is-custom-elearning.png
tags:
- after effects
- illustration
- premium animation
---

<lite-youtube videotitle="What is Custom eLearning Development?" videoid="WG0Y9iPCRu4" posterquality="maxresdefault">
  <p><a class="lite-youtube-fallback" href="https://www.youtube.com/watch?v=WG0Y9iPCRu4">Watch on YouTube: "What is Custom eLearning Development?"</a></p>
</lite-youtube>

<p>
  At EdgePoint Learning, we help you tackle your employee training initiatives, big or small. Learn more about our custom development and co-development options at [edgepointlearning.com/solutions](edgepointlearning.com/solutions).
</p>
